@using Microsoft.AspNetCore.Http;
@using Social_Network.Core.Application.Helpers;
@using Social_Network.Core.Application.ViewModels.User;
@inject IHttpContextAccessor httpContextAccessor;
@{ UserViewModel user = httpContextAccessor.HttpContext.Session.Get<UserViewModel>("user"); }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Social_Network</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="/js/site.js" asp-append-version="true" defer></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #3b5998">
            <div class="container">
                <a class="navbar-brand text-light" asp-controller="@(user != null ? "Home" : "User")" asp-action="@(user != null ? "Index" : "Login")">ProgNet</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (user != null)
                    {
                        <ul class="navbar-nav flex-fill">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Friend" asp-action="Index">Friends</a>
                            </li>
                        </ul>

                        <div class="d-flex gap-2">
                            <div class="d-flex align-items-start">
                                <img src="@user.ProfileImgUrl" width="32" height="32" class="rounded-circle" />
                                <p class="fw-bold text-light">@user.UserName</p>
                            </div>
                            <a class="btn btn-outline-danger" asp-controller="User" asp-action="LogOut">Log Out</a>
                        </div>
                    }

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-light" style="background-color: #3b5998">
        <div class="container">
            &copy; @DateTime.Now.Year - Social_Network - <a href="https://github.com/Javier3221" class="link-light">Javier Pérez</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
